@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

*,
*::before,
*::after {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --bgColor: #18191A;
    --bgSidebarColor: #242526;
    --bgSidebarMinimizerColor: #3A3C3C;
    --txtColor: #d2dae2;
}

body {
    background-color: var(--bgColor);
    font-family: "Poppins";
}

.container {
    height: 100vh;
    width: 100%;
    display: flex;
}

.sidebar {
    width: 300px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--bgSidebarColor);
    padding: 16px;
    margin-right: 32px;
}

.s-logo {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.s-minimize {
    position: absolute;
    top: 0px;
    right: -31px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bgSidebarMinimizerColor);
    border-radius: 50%;
    font-size: 14px;
    color: var(--txtColor);
    cursor: pointer;
}

.s-logo>img {
    margin-right: 16px;
}

.s-logo-info {
    display: flex;
    flex-direction: column;
}

.s-logo-info>p {
    line-height: 18px;
    color: var(--txtColor);
}

.s-logo-info>p:nth-of-type(1) {
    font-weight: bold;
}

.s-logo-info>p:nth-of-type(2) {
    font-weight: lighter;
}

.s-menu>ul,
.s-setting>ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
}

.s-menu>ul>li,
.s-setting>ul>li {
    display: flex;
}

.s-menu>ul>li:not(:last-of-type),
.s-setting>ul>li:not(:last-of-type) {
    margin-bottom: 8px;
}

.s-menu>ul>li>a,
.s-setting>ul>li>a {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;
    border-radius: 8px;
    color: var(--txtColor);
    padding: 5px;
    transition: background-color 0.3s linear;
}

.s-menu>ul>li>a:hover,
.s-setting>ul>li>a:hover {
    background-color: var(--bgSidebarMinimizerColor);
}

.fa-customize {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    font-size: 16px;
    margin-right: 16px;
}

.context {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.context>h1 {
    font-size: 64px;
    color: #9A3BB1;
    animation: pulseText 1.8s linear infinite alternate;
}

@keyframes pulseText {
    from {
        transform: scale(1);
        text-shadow: 0px 0px 1px #9A3BB1;
    }

    to {
        transform: scale(1.2);
        text-shadow: 0px 0px 15px #9A3BB1;
    }
}